*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

nav{
    position: relative;
    background-color: white;
    height: 80px;
    padding-left: 30px;
    padding-top: 15px;
}

h1{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 38px;
    margin-left: 100px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

main{
    margin: auto;
    margin-top: 40px;
    width: 80%;
    background-color: white;
}

#top-section{
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
    background-color: white;
    border-bottom: 1px solid gray;

}

.task-button{
    color: white;
    background-color: cornflowerblue;
    padding: 7px;
    width: 80px;
    border-radius: 5px;
    border: none;
}

.selection-button{
    background-color: white;
    color: lightgray;
    padding: 7px;
    border-radius: 5px;
    border-color: lightgrey;
}

#bottom-section{
    height: 700px;
    padding-top: 30px;
    padding-left: 50px;
    background-color: white;
}

.task,.day{
    margin-bottom: 25px;
}

.title{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 7px;
}

.list{
    line-height: 50px;
    font-weight: bold;
}

div span{
    margin-right: 10px;
}

.button{
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.editorial{
    background-color: cornflowerblue;   
}
 
.goals{
    background-color: rgba(145, 71, 194, 0.89);
}

.recruiting{
    background-color: rgb(39, 199, 111);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: deeppink;
}

.sales{
    background-color: rgb(135, 206, 30);
}